    @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Tilt+Warp&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
  }
  .header {
    flex-basis: 100%;
    background-image: linear-gradient(to bottom, black, #000000, #e00530d5);
    color: white;
    display: flex;
    padding: 15px;
    border-radius: 5px;
    justify-content: space-between;
    position: relative;
  }

  .logoyou{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
  }
  
  .bola{
    width: 40px;
    height: 40px;
  }

  .paragrafo{
    font-size: 40px;
    text-align: center;
    font-family: 'Acme';
    color: white;
  }

  h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Acme';
    color: black;
    padding: 40px;
    text-align: left;
    text-decoration: underline ;
  }

  .texto{
    font-size: 20px;
    text-align: center;
  }

  .negrito{
    font-size: 20px;
    font-family: 'Open Sans';
  }
  .mainContent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "item1 item2"
    "item3 item4"
    "item5 item6";
    padding: 20px;
    
  }
  .itens{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  .item{
    width: 280px;
    height: 380px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
  }

  .item1{
    grid-area: item1;
  }
  .item2{
    grid-area: item2;
  }
  .item3{
    grid-area: item3;
  }
  .item4{
    grid-area: item4;
  }
  .item5{
    grid-area: item5;
  }
  .item6{
    grid-area: item6;
  }


  .footer {
    flex-basis: 100%;
    background-image: linear-gradient(to top, black, #000000, #e00530d5);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    font-size: 12px;
    border-radius: 5px;
  }

  a{
    color: white ;
    text-decoration: none;
  }

  a:hover{
    color: #e00530d5;
  }