@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container{
    min-height: 100vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
}
#header{
    background-image: linear-gradient(to bottom, #F20534, #c4042ad5, rgb(32, 32, 32));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    border-radius: 5px;
}
#titulo{
    font-size: 45px;
    text-align: center;
    font-family: 'Acme';
    color: black;
}
#bola{
    width: 50px;
    height: 50px;
    padding: 5px;
}
h1{
    font-size: 38px;
    text-align: center;
    font-family: 'Acme';
    color: #78021A;
    padding: 40px;
    text-align: left;
    text-decoration: underline ;
}
#corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.itens{
    flex-basis: 351px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.itens:hover{
    border: 1px solid rgb(225, 225, 225);
    transition: 0.5s;
}
.iframe{
    width: 100%;
}
.texto{
    text-align: center;
    color: rgb(225, 225, 225);
    font-family:'Open Sans';
}
#footer{
    flex-basis: 100%;
    background-image: linear-gradient(to top, #F20534, #c4042ad5, rgb(32, 32, 32));
    color: rgb(225, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    font-size: 10px;
    border-radius: 5px;
}
#ancora{
    color: black;
    text-decoration: none;
    font-family:'Open Sans';
}
#ancora:hover{
    color: rgb(225, 225, 225);
}